body {
    background-color: #c4daf0;
}
form {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #00509e;
    text-align: center;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    background-color: #003f7d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto 10px;
    padding: 10px 20px;
}
button:hover {
    background-color: #17304b;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
